<% if @post.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4>
      <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
    </h4>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>